<div class="container" *ngIf="!isSubscribed; else subscribedTemplate">
  <h2 class="title">{{ 'TENNIS_SCHOOL.TITLE' | translate }}</h2>
  <p class="description">{{ 'TENNIS_SCHOOL.DESCRIPTION' | translate }}</p>
  <ul class="benefits">
    <li>{{ 'TENNIS_SCHOOL.BENEFIT_1' | translate }}</li>
    <li>{{ 'TENNIS_SCHOOL.BENEFIT_2' | translate }}</li>
    <li>{{ 'TENNIS_SCHOOL.BENEFIT_3' | translate }}</li>
  </ul>
  <button mat-raised-button color="primary" class="subscribe-button" (click)="onSubscribe()">{{ 'TENNIS_SCHOOL.SUBSCRIBE_BUTTON' | translate }}</button>
  <div *ngIf="paymentSuccessful" class="payment-success">
    <h3>{{ 'TENNIS_SCHOOL.PAYMENT_SUCCESS' | translate }}</h3>
  </div>
</div>

<ng-template #subscribedTemplate>
  <div class="subscribed-container">
    <h2>{{ 'TENNIS_SCHOOL.ALREADY_SUBSCRIBED_TITLE' | translate }}</h2>
    <div>
      <ul>
        <li *ngFor="let job of jobs">
          {{ job.Id }} - {{ job.State }}
        </li>
      </ul>
    </div>
    <div class="user-dashboard">
      <p>{{ 'TENNIS_SCHOOL.USER_DASHBOARD_DESCRIPTION' | translate }}</p>
      <app-weekly-plan></app-weekly-plan>
    </div>
  </div>
</ng-template>
