<!-- EDITAR USUARIO -->

<form *ngIf="inputData.title === 'Editar usuario'" [formGroup]="myform" (ngSubmit)="updateUsuario()" >
  <div class="centrado-popup">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close" color="warn">close</mat-icon>
    </button>
    <h1 mat-dialog-title>Editar perfil</h1>
    <div mat-dialog-content>
      <mat-form-field class="full-width">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullName" placeholder="fullName" name="fullName" required type="text"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>User Name</mat-label>
        <input matInput formControlName="username" placeholder="username" name="username" required type="text"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" name="email" required type="email"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Personal Phone</mat-label>
        <input matInput formControlName="personalPhone" placeholder="personalPhone" name="personalPhone" required type="text"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>NIF/NIE</mat-label>
        <input matInput formControlName="nif" placeholder="nif" name="nif" required type="text"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Country</mat-label>
        <input matInput formControlName="country" placeholder="country" name="country" required type="text"/>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="centrado-solo">
    <button mat-raised-button color="primary">Actualizar Datos</button>
    <br>
  </div>
</form>
