<!-- EDITAR USUARIO -->
<form *ngIf="inputData.title === 'Editar usuario'" [formGroup]="myform" (ngSubmit)="updateUsuario()" class="edit-user-form">
  <div class="centrado-popup">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close" color="warn">close</mat-icon>
    </button>
    <h1 mat-dialog-title>{{ 'EDIT_USER.TITLE' | translate }}</h1>
    <div mat-dialog-content>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{ 'EDIT_USER.FULL_NAME' | translate }}</mat-label>
        <input matInput formControlName="fullName" placeholder="{{ 'EDIT_USER.FULL_NAME' | translate }}" required type="text"/>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{ 'EDIT_USER.USERNAME' | translate }}</mat-label>
        <input matInput formControlName="username" placeholder="{{ 'EDIT_USER.USERNAME' | translate }}" required type="text"/>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{ 'EDIT_USER.EMAIL' | translate }}</mat-label>
        <input matInput formControlName="email" placeholder="{{ 'EDIT_USER.EMAIL' | translate }}" required type="email"/>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{ 'EDIT_USER.PERSONAL_PHONE' | translate }}</mat-label>
        <input matInput formControlName="personalPhone" placeholder="{{ 'EDIT_USER.PERSONAL_PHONE' | translate }}" required type="text"/>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{ 'EDIT_USER.NIF_NIE' | translate }}</mat-label>
        <input matInput formControlName="nif" placeholder="{{ 'EDIT_USER.NIF_NIE' | translate }}" required type="text"/>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{ 'EDIT_USER.COUNTRY' | translate }}</mat-label>
        <input matInput formControlName="country" placeholder="{{ 'EDIT_USER.COUNTRY' | translate }}" required type="text"/>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="centrado-solo">
    <button mat-raised-button color="primary">{{ 'EDIT_USER.UPDATE_BUTTON' | translate }}</button>
  </div>
</form>
