<div class="container">
  <mat-card class="map-card">
    <mat-card-header>
      <mat-card-title>{{ 'MAP_CARD.TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div id="map"></div>
    </mat-card-content>
  </mat-card>

  <mat-card class="info-card">
    <mat-card-header>
      <mat-card-title>{{ 'INFO_CARD.TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>{{ 'INFO_CARD.SCHOOL' | translate }}</strong></p>
      <p>{{ 'INFO_CARD.ADDRESS' | translate }}</p>
      <p>{{ 'INFO_CARD.PHONE' | translate }}</p>
      <p>{{ 'INFO_CARD.SCHEDULE' | translate }}</p>
      <p>{{ 'INFO_CARD.PROVINCE' | translate }}</p>
    </mat-card-content>
  </mat-card>
</div>
