

<div class="container">
  <mat-card class="map-card">
    <mat-card-header>
      <mat-card-title>Mapa de las Instalaciones</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div id="map"></div>
    </mat-card-content>
  </mat-card>

  <mat-card class="info-card">
    <mat-card-header>
      <mat-card-title>Información del Club</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Escuela de deportes en España</strong></p>
      <p>Dirección: Av. Vereda de Olula, 04860 Olula del Río, Almería</p>
      <p>Teléfono: 606 05 92 08</p>
      <p>Horario: Martes y Jueves 17:00–21:00</p>
      <p>Provincia: Almería</p>
    </mat-card-content>
  </mat-card>
</div>
