.fields {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  align-items: center;
  padding: 10px;
}

//para móviles
@media (max-width: 500px) {
  .fields {
    width: 70%;
    margin: 0 auto;
    padding: 5px;
  }
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #6e5cb0;
    margin-bottom: 50px;
}

.button{
    color: #7f70b0;
}

.button:hover{
  background-color: #7f70b0;
}

.image{
  margin-bottom: 20px;
}

.d-grid gap-2{
  height: 20px;
  display: flex;
}




