
  <mat-card class="card" style="color:#201642">
    <mat-card-header>
      <div mat-card-avatar>
       <img src="./assets/images/fotoPista.jpg" class="header-image">
      </div>

      <mat-card-title>{{user?.fullName}}</mat-card-title>
      <mat-card-subtitle>{{user?.email}}</mat-card-subtitle>

      <mat-card-actions class="d-flex ms-auto">
        <button (click)="editarUsuario(authService.getUser().id)" mat-raised-button color="primary">Editar datos</button>
      </mat-card-actions>

    </mat-card-header>
    <br><br>
    <mat-card-content style="font-size: 17px">
      &nbsp;<p>Username: {{user?.username}}</p>
      &nbsp;<p>NIF/NIE: {{user?.nif}}</p>
      &nbsp;<p>PersonalPhone: {{user?.personalPhone}}</p>
      &nbsp;<p>Country: {{user?.country}}</p>
      &nbsp;<p>Creation Date: {{user?.creationDate}}</p>
    </mat-card-content>
  </mat-card>
  <br><br>



