<div class="contenedor">
  <img class="foto" src="./assets/images/tenis.jpg">
  <h1 class="centrado">{{'TITLE' | translate}}</h1>
</div>
<br>
<div class="slider-container">
  <ng-image-slider [images]="imageObject" [infinite]="true"
                   [imageSize]="{
                     width: '220vw',
                     height: '140vw'
                     }"
                   [autoSlide]="{
                     interval: 5,
                     stopOnHover: true
                     }">

  </ng-image-slider>
</div>
<div class="grid-container">
<h1 style="color: black; padding-left: 10vw; padding-right: 10vw; padding-top: 2vw; text-align: center;" >{{'WELCOME' | translate}}</h1>
  <h3 style="color: black; padding-left: 10vw; padding-right: 10vw; padding-top: 2vw; text-align: center;" >{{'ENJOY' | translate}}</h3>

  <mat-grid-list cols="2" rowHeight="350px" class="dashboard-grid" gutterSize="16px">
    <mat-grid-tile *ngFor="let card of (cards$ | async)" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="card-title">{{ card.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="card-body">{{ card.body }}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="video-container">
  <!-- COdigo de incrustación de Instagram -->
  <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CxDE6JiLMph/" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
    <div style="padding-left: 10vw;">
      <a href="https://www.instagram.com/p/CxDE6JiLMph/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">Ver este video en Instagram</a>
    </div>
  </blockquote>
</div>
<h3 style="color: black; padding-left: 10vw; padding-right: 10vw; padding-top: 2vw; text-align: center;" >
  {{'LARGE_TEXT' | translate}}</h3>
<br><br>
</div>
