.grid-container {
  padding: 1%;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  background-color: #8d81b7;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 8px;
  padding: 1rem;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

mat-card-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  margin-bottom: 10px;

}

.card-title {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
}


mat-card-img{
  width: 100%;
  height: 100%;
}

.foto{
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}

.contenedor{
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
}

h1 {
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  letter-spacing: -1px;
  word-spacing: 2px;
  line-height: 1.2;
  color: #4d4470;
  text-transform: uppercase;
  text-align: center;
  font-weight: 1000;
  font-family: Garamond, serif;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  -webkit-filter: drop-shadow(0.2vw 1px 1px black);
  padding: 1.5vw 3vw;
  animation: fadeIn 2s ease-in-out;
}

//Animación para la entrada suave
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .centrado {
    font-size: 3.5vw;
    padding: 1.5vw 3vw;
  }
}

.slide-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px;
  text-align: center;
  overflow: hidden;
  position: absolute;
}

.carousel-img {
  width: 100%;
  height: auto;
  max-height: 50vh;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-img {
    max-height: 30vh;
  }
}

.carousel-img:hover {
  transform: scale(1.05);
}

.video-container {
  width: 20%;
  max-width: 600px;
  margin: auto;
  animation: fadeIn 0.5s ease-in;
  transition: transform 0.3s, box-shadow 0.3s;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 600px) {
  .content-container, .video-container {
    width: 70%;
    padding: 10px;
  }

}
