<div class="login">
  <mat-card>
    <div>
      <div class="image">
        <br>
        <img src="assets/images/logo_tenis.png" style="width: 9%" alt="">
      </div>
    </div>
    <form (ngSubmit)="formSubmit()" style="margin: 1%;">
      <h2>{{ 'REGISTER_PAGE.TITLE' | translate }}</h2>
      <mat-form-field class="fields" appearance="outline">
        <mat-icon class="primary-icon" matIconPrefix="">account_circle</mat-icon>
        <mat-label>{{ 'REGISTER_PAGE.FULL_NAME' | translate }}</mat-label>
        <input [(ngModel)]="user.fullName" name="fullName" required type="text" matInput placeholder="{{ 'REGISTER_PAGE.FULL_NAME_PLACEHOLDER' | translate }}" />
      </mat-form-field>
      <br>
      <mat-form-field class="fields" appearance="outline">
        <mat-icon class="primary-icon" matIconPrefix="">account_circle</mat-icon>
        <mat-label>{{ 'REGISTER_PAGE.COUNTRY' | translate }}</mat-label>
        <input [(ngModel)]="user.country" name="country" required type="text" matInput placeholder="{{ 'REGISTER_PAGE.COUNTRY_PLACEHOLDER' | translate }}" />
      </mat-form-field>
      <br>
      <mat-form-field class="fields" appearance="outline">
        <mat-icon class="primary-icon" matIconPrefix="">alternate_email</mat-icon>
        <mat-label>{{ 'REGISTER_PAGE.EMAIL' | translate }}</mat-label>
        <input [(ngModel)]="user.email" name="email" required type="email" matInput placeholder="{{ 'REGISTER_PAGE.EMAIL_PLACEHOLDER' | translate }}" />
      </mat-form-field>
      <br>
      <mat-form-field class="fields" appearance="outline">
        <mat-icon class="primary-icon" matIconPrefix="">call</mat-icon>
        <mat-label>{{ 'REGISTER_PAGE.PHONE' | translate }}</mat-label>
        <input [(ngModel)]="user.personalPhone" name="personalPhone" required type="text" matInput placeholder="{{ 'REGISTER_PAGE.PHONE_PLACEHOLDER' | translate }}" />
      </mat-form-field>
      <br>
      <mat-form-field class="fields" appearance="outline">
        <mat-icon class="primary-icon" matIconPrefix="">date_range</mat-icon>
        <mat-label>{{ 'REGISTER_PAGE.LANGUAGE' | translate }}</mat-label>
        <input [(ngModel)]="user.language" name="language" required type="text" matInput placeholder="{{ 'REGISTER_PAGE.LANGUAGE_PLACEHOLDER' | translate }}" />
      </mat-form-field>
      <br>
      <mat-form-field class="fields" appearance="outline">
        <mat-icon class="primary-icon" matIconPrefix="">date_range</mat-icon>
        <mat-label>{{ 'REGISTER_PAGE.NIF' | translate }}</mat-label>
        <input [(ngModel)]="user.nif" name="nif" required type="text" matInput placeholder="{{ 'REGISTER_PAGE.NIF_PLACEHOLDER' | translate }}" />
      </mat-form-field>
      <br>
      <mat-form-field class="fields" appearance="outline">
        <mat-icon class="primary-icon" matIconPrefix="">key</mat-icon>
        <mat-label>{{ 'REGISTER_PAGE.PASSWORD' | translate }}</mat-label>
        <input [(ngModel)]="user.password" name="password" required [type]="hide ? 'password' : 'text'" matInput placeholder="{{ 'REGISTER_PAGE.PASSWORD_PLACEHOLDER' | translate }}" />
        <mat-icon mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="primary-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field class="fields" appearance="outline">
        <mat-icon class="primary-icon" matIconPrefix="">key</mat-icon>
        <mat-label>{{ 'REGISTER_PAGE.REPEAT_PASSWORD' | translate }}</mat-label>
        <input [(ngModel)]="user.repeatPassword" name="repeatPassword" required [type]="hideRepeat ? 'password' : 'text'" matInput placeholder="{{ 'REGISTER_PAGE.REPEAT_PASSWORD_PLACEHOLDER' | translate }}" />
        <mat-icon mat-icon-button matSuffix (click)="hideRepeat = !hideRepeat" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeat" class="primary-icon">{{hideRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <br>

      <div class="container">
        <button mat-raised-button color="primary" type="submit">{{ 'REGISTER_PAGE.REGISTER_BUTTON' | translate }}</button>
      </div>
      <br>
      <p>
        {{ 'REGISTER_PAGE.LOGIN_PROMPT' | translate }}
        <a href="login">{{ 'REGISTER_PAGE.LOGIN_LINK' | translate }}</a>
      </p>
    </form>
  </mat-card>
</div>
