.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #6e5cb0;
  margin-bottom: 30px;
}

.image{
  margin-bottom: 20px;
}

.fields {
  width: 25%;
  margin-right: auto;
  align-items: center;
}

//para móviles
@media (max-width: 500px) {
  .fields {
    width: 70%;
    margin: 0 auto;
    padding: 5px;
  }
}

.btn btn-lg btn-primary{
  height: 500px;

}

